<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Alterar Avatar
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Usuário: {$user.desperson}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        {if="$msgError != ''"}
        <div class="alert alert-danger alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgError}</p>
        </div>
        {/if}
        {if="$msgSuccess != ''"}
        <div class="alert alert-success alert-dismissible" style="margin:10px">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>{$msgSuccess}</p>
        </div>
        {/if}

        <form role="form" action="/admin/users/{$user.iduser}/avatar" method="post">
          <div class="box-body">
            <div class="input-group input-group-sm">
              <!--label for="file">Foto</label-->
              <input type="file" class="form-control pull-right" id="file" name="file">
              <div class="input-group input-group-sm">
                <button type="submit" class="btn btn-default"><i class="fa fa-save"></i></button>
              </div>
              <div class="box box-widget">
                <div class="box-body">
                  <img class="img-responsive" id="image-preview" src="{$user.desphoto}" alt="Photo">
                </div>
              </div>
            </div>
          </div>

          <!-- /.box-body -->
          <!--div class="box-footer">
            <button type="submit" class="btn btn-default" name="file"><i class="fa fa-camera"></i></button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div-->
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->