<div class="product-big-title-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-bit-title text-center">
					<h2>Pagamento</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="single-product-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-content-right">
					<form action="/checkout" class="checkout" method="post" name="checkout">
						<div id="customer_details" class="col2-set">
							<div class="row">
								<div class="col-md-7">

									{if="$error != ''"}
									<div class="alert alert-danger">
										{$error}
									</div>
									{/if}

									<div class="woocommerce-billing-fields">
										<h3>Endereços</h3>
                                        {loop="$address"}
										<table class="shop_table" border="2">
											<tbody>
												<thead>
													<tr style="line-height: 10px" class="">
														<th class="" style="text-align:left;">{$value.desidentifier}  -  (CEP: {$value.deszipcode})</th>
														<th class="product-name" width="15"><a href="/profile/address/{$value.idaddress}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a></th>
														<th width="15"><input type="radio" {if="$cart.deszipcode === $value.deszipcode"} checked="checked" {/if}id="address" name="idaddress" value="{$value.idaddress}" style="float:center; margin: 5px;"></th>
													</tr>
												</thead>
												<tr style="line-height: 3px" class="">
													<td colspan="2" class="product-name" style="text-align:left;">
														<span>{$value.desaddress}, {$value.desnumber} {if="$value.descomplement != ''"} - {$value.descomplement}, {else}- {/if} {$value.desdistrict}</span>
													</td>
	                                            </tr>
												<tr style="line-height: 3px" class="">
													<td colspan="2" class="product-name" style="text-align:left; heigth: 1px;">
														<span>{$value.descity} / {$value.desstate} - {$value.descountry}</span>
													</td>
	                                            </tr>
											</tbody>
										</table>
                                        {/loop}
										<form action="/profile/address/update" class="address" method="get" name="address">
											<div id="address">
												<div class="form-row place-order">
													<!--input type="submit" data-value="Place order" value="Alterar Endereço" id="place_order" name="woocommerce_checkout_place_order" style="margin-top: 30px; "class="button alt"-->
												</div>
												<div class="clear"></div>
											</div>     
										</form>                                   
										<form action="/profile/address/create" class="new-address" method="get" name="new-address">
											<div id="new-address">
												<div class="form-row place-order">
													<input type="submit" value="Novo Endereço" style="margin-top: 30px; "class="button alt">
												</div>
												<div class="clear"></div>
											</div>     
										</form>                                   
									</div>
								</div>								
								<div class="col-md-5">

									{if="$error != ''"}
									<div class="alert alert-danger">
										{$error}
									</div>
									{/if}

									<div class="clear"></div>
									<h3>Detalhes do Pedido</h3>
									<div id="order_review" style="position: relative;">
										<table class="shop_table">
											<thead>
												<tr>
													<th class="product-name">Produto</th>
													<th class="product-total">Total</th>
												</tr>
											</thead>
											<tbody>
	                                            {loop="$products"}
												<tr class="cart_item">
													<td class="product-name">
														{$value.desproduct} <strong class="product-quantity">× {$value.nrqtd}</strong> 
													</td>
													<td class="product-total">
														<span class="amount">R${function="formatPrice($value.vltotal)"}</span>
													</td>
	                                            </tr>
	                                            {/loop}
											</tbody>
											<tfoot>
												<tr class="cart-subtotal">
													<th>Subtotal</th>
													<td><span class="amount">R${function="formatPrice($cart.vlsubtotal)"}</span>
													</td>
												</tr>
												<tr class="shipping">
													<th>Frete</th>
													<td>
														R${function="formatPrice($cart.vlfreight)"}
														<input type="hidden" value="{$cart.vlfreight}" id="vlfreight" name="vlfreight">
													</td>
												</tr>
												<tr class="order-total">
													<th>Total do Pedido</th>
													<td><strong><span class="amount">R${function="formatPrice($cart.vltotal)"}<input type="hidden" value="{$cart.vltotal}" id="vltotal" name="vltotal"></span></strong> </td>
												</tr>
											</tfoot>
										</table>
										<h3>Forma de Pagamento</h3>
										<div class="col-md-4">
											<p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
												<input type="radio" checked="checked" id="boleto" name="payment-method" placeholder="País" value="1" style="float:left; margin: 30px;">
												<label class="" for="boleto"><img style="height:64px;" src="/res/site/img/logo-boleto_itau.png"></label>
											</p>
										</div>
										<div class="col-md-4">
											<p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
												<input type="radio" id="method-pagseguro" name="payment-method" placeholder="País" value="2" style="float:left; margin: 30px;">
												<label class="" for="method-pagseguro"><img style="height:64px;" src="/res/site/img/logo-pagseguro.png"></label>
											</p>
										</div>
										<div class="col-md-4">
											<p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
												<input type="radio" id="method-paypal" name="payment-method" placeholder="País" value="3" style="float:left; margin: 30px;">
												<label class="" for="method-paypal"><img style="height:64px;" src="/res/site/img/logo-paypal.png"></label>
											</p>
										</div>
										<div id="payment">
											<div class="form-row place-order">
												<input type="submit" data-value="Place order" value="Finalizar Compra" id="place_order" name="woocommerce_checkout_place_order" style="margin-top: 30px; "class="button alt">
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>