
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Minha Conta</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="profile-menu"}
            </div>
            <div class="col-md-9">
                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if}                
                <form method="post" action="/profile/address/create">
					<h3>Endereço</h3>
						<p id="billing_address_1_field" class="form-group">
							<label class="" for="billing_cep_1">Cep: <abbr title="required" class="required"></abbr>
							</label>
							<input type="text" value="{$address.deszipcode}" id="billing_cep_1" name="zipcode" class="input-text" placeholder="00000-000">
							<input type="submit" value="Atualizar CEP" id="place_order" class="button alt" formaction="/profile/address/create" formmethod="get">
						</p>
						<p id="billing_address_1_field" class="form-group">
							<label class="" for="billing_identifier_1">Identificador do Endereço: <abbr title="required" class="required"></abbr>
							</label>
							<input type="text" value="{$address.desidentifier}" id="billing_identifier_1" name="identifier" class="form-control" placeholder="Exemplo: Residência ou Escritório">
						</p>
						<div class="row">
							<div class="col-sm-9">
								<p id="billing_address_1_field" class="form-group">
									<label class="" for="billing_address_1">Endereço: <abbr title="required" class="required"></abbr>
									</label>
									<input type="text" value="{$address.desaddress}" placeholder="Logradouro, número e bairro" id="billing_address_1" name="desaddress" class="form-control">
								</p>
							</div>
							<div class="col-sm-3">
								<p id="billing_number_1_field" class="form-group">
									<label class="" for="billing_number_1">Número: <abbr title="required" class="required"></abbr>
									</label>
									<input type="text" value="{$address.desnumber}" placeholder="Número" id="billing_address_1" name="desnumber" class="form-control">
								</p>
							</div>
						</div>
						<p id="billing_address_2_field" class="form-group">
							<input type="text" value="{$address.descomplement}" placeholder="Complemento (opcional)" id="billing_address_2" name="descomplement" class="form-control">
	                    </p>
	                    <p id="billing_district_field" class="form-group" data-o_class="form-row form-row-wide address-field validate-required">
							<label class="" for="billing_district">Bairro: <abbr title="required" class="required"></abbr>
							</label>
							<input type="text" value="{$address.desdistrict}" placeholder="Cidade" id="billing_district" name="desdistrict" class="form-control">
						</p>
						<p id="billing_city_field" class="form-group" data-o_class="form-row form-row-wide address-field validate-required">
							<label class="" for="billing_city">Cidade: <abbr title="required" class="required"></abbr>
							</label>
							<input type="text" value="{$address.descity}" placeholder="Cidade" id="billing_city" name="descity" class="form-control">
						</p>
						<p id="billing_state_field" class="form-group" data-o_class="form-row form-row-first address-field validate-state">
							<label class="" for="billing_state">Estado: </label>
							<input type="text" id="billing_state" name="desstate" placeholder="Estado" value="{$address.desstate}" class="form-control">
						</p>
						<p id="billing_state_field" class="form-group" data-o_class="form-row form-row-first address-field validate-state">
							<label class="" for="billing_state">País: </label>
							<input type="text" id="billing_state" name="descountry" placeholder="País" value="{$address.descountry}" class="form-control">
						</p>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>


